@charset "UTF-8";
.clearfix {
  zoom: 1;
}
.clearfix:after {
  display: block;
  clear: both;
  content: '';
}
.loading-box {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: 0 auto;
  z-index: 2;
  background: #fff;
}
.loading-box.active {
  opacity: 0;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
.loading-box i {
  display: block;
  width: 100%;
  height: 100%;
}
.loading-box i img {
  display: block;
  width: 100%;
  height: 100%;
}
.loading-box b {
  display: block;
  width: 9.33333333rem;
  position: absolute;
  top: 30%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.loading-box b img {
  display: block;
  width: 100%;
}
.loading-box p {
  color: #865f4c;
  font-weight: bold;
  position: absolute;
}
.loading-box p:nth-of-type(1) {
  font-size: 0.46666667rem;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.loading-box p:nth-of-type(2) {
  font-size: 0.82666667rem;
  top: 55%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.loading-box div {
  display: none;
  opacity: 0;
  width: 4rem;
  position: absolute;
  top: 65%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.loading-box div.active {
  opacity: 1;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
.loading-box div img {
  display: block;
  width: 100%;
}
.video-box {
  display: block;
  width: 7.26666667rem;
  height: 4.13333333rem;
  position: absolute;
}
.video-box.active {
  background: #000;
}
.video-box video {
  object-fit: fill;
  width: 100%;
  height: 100%;
  visibility: visible;
}
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes rotate {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(359deg);
  }
}
@-o-keyframes rotate {
  from {
    -o-transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(359deg);
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.music-box {
  width: 1.06666667rem;
  height: 1.06666667rem;
  position: fixed;
  z-index: 1;
  right: 0.26666667rem;
  top: 0.26666667rem;
}
.music-box.active {
  display: block;
}
.music-box img {
  display: block;
  width: 100%;
  height: 100%;
}
.music-box audio {
  opacity: 0;
}
@-webkit-keyframes ymaxleft {
  from {
    left: -2.66666667rem;
  }
  to {
    left: 10.66666667rem;
  }
}
@-moz-keyframes ymaxleft {
  from {
    left: -2.66666667rem;
  }
  to {
    left: 10.66666667rem;
  }
}
@-o-keyframes ymaxleft {
  from {
    left: -2.66666667rem;
  }
  to {
    left: 10.66666667rem;
  }
}
@keyframes ymaxleft {
  from {
    left: -2.66666667rem;
  }
  to {
    left: 10.66666667rem;
  }
}
@-webkit-keyframes yminleft {
  from {
    left: -2.66666667rem;
  }
  to {
    left: 10.66666667rem;
  }
}
@-moz-keyframes yminleft {
  from {
    left: -2.66666667rem;
  }
  to {
    left: 10.66666667rem;
  }
}
@-o-keyframes yminleft {
  from {
    left: -2.66666667rem;
  }
  to {
    left: 10.66666667rem;
  }
}
@keyframes yminleft {
  from {
    left: -2.66666667rem;
  }
  to {
    left: 10.66666667rem;
  }
}
@keyframes z1 {
  from {
    transform: scale(10);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes z2 {
  from {
    transform: scale(10);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes z3 {
  from {
    transform: scale(10);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes z4 {
  from {
    transform: scale(10);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes z5 {
  from {
    transform: scale(10);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes s1 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes s1-1 {
  0% {
    top: -1.33333333rem;
  }
  50% {
    top: -2rem;
  }
  100% {
    top: -1.33333333rem;
  }
}
@keyframes s2 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes s2-2 {
  0% {
    bottom: -4rem;
  }
  50% {
    bottom: -3.33333333rem;
  }
  100% {
    bottom: -4rem;
  }
}
@keyframes s3 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes s3-3 {
  0% {
    bottom: -1.33333333rem;
  }
  50% {
    bottom: -0.66666667rem;
  }
  100% {
    bottom: -1.33333333rem;
  }
}
@keyframes s4 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes s4-4 {
  0% {
    top: 6rem;
  }
  50% {
    top: 5.33333333rem;
  }
  100% {
    top: 6rem;
  }
}
@keyframes s5 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes s5-5 {
  0% {
    top: 0.93333333rem;
  }
  50% {
    top: 0.26666667rem;
  }
  100% {
    top: 0.93333333rem;
  }
}
@keyframes s6 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes s6-6 {
  0% {
    bottom: 2.24rem;
  }
  50% {
    bottom: 2.90666667rem;
  }
  100% {
    bottom: 2.24rem;
  }
}
@keyframes s7 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes s7-7 {
  0% {
    top: 3.06666667rem;
  }
  50% {
    top: 2.50666667rem;
  }
  100% {
    top: 3.06666667rem;
  }
}
@keyframes s8 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes s8-8 {
  0% {
    top: 0rem;
  }
  50% {
    top: -0.66666667rem;
  }
  100% {
    top: 0rem;
  }
}
@keyframes s9 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes s9-9 {
  0% {
    bottom: 4.66666667rem;
  }
  50% {
    bottom: 5.73333333rem;
  }
  100% {
    bottom: 4.66666667rem;
  }
}
@keyframes s10 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes s10-10 {
  0% {
    bottom: 5.6rem;
  }
  50% {
    bottom: 6.26666667rem;
  }
  100% {
    bottom: 5.6rem;
  }
}
@keyframes s11 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes s11-11 {
  0% {
    top: 0.13333333rem;
  }
  50% {
    top: -0.53333333rem;
  }
  100% {
    top: 0.13333333rem;
  }
}
@keyframes s12 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes s12-12 {
  0% {
    top: 1.06666667rem;
  }
  50% {
    top: 0.4rem;
  }
  100% {
    top: 1.06666667rem;
  }
}
@keyframes s13 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes s13-13 {
  0% {
    bottom: 3.73333333rem;
  }
  50% {
    bottom: 4.4rem;
  }
  100% {
    bottom: 3.73333333rem;
  }
}
@keyframes s14 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes s14-14 {
  0% {
    top: 0.13333333rem;
  }
  50% {
    top: -0.53333333rem;
  }
  100% {
    top: 0.13333333rem;
  }
}
@keyframes s15 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes s15-15 {
  0% {
    top: 2.46666667rem;
  }
  50% {
    top: 1.8rem;
  }
  100% {
    top: 2.46666667rem;
  }
}
@keyframes s16 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes s16-16 {
  0% {
    bottom: 1.33333333rem;
  }
  50% {
    bottom: 2rem;
  }
  100% {
    bottom: 1.33333333rem;
  }
}
@keyframes s17 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes s17-17 {
  0% {
    bottom: 0.26666667rem;
  }
  50% {
    bottom: 0.93333333rem;
  }
  100% {
    bottom: 0.26666667rem;
  }
}
.box {
  width: 10rem;
  overflow: hidden;
  margin: 0 auto;
}
.box.active .box-pics li.screen1 b:nth-of-type(1) {
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 1s;
  -moz-transition-property: -moz-transform;
  -moz-transition-duration: 0s;
  -webkit-animation: ymaxleft 13s linear infinite;
  -moz-animation: ymaxleft 13s linear infinite;
  -o-animation: ymaxleft 13s linear infinite;
  animation: ymaxleft 15s 5s linear infinite;
}
.box.active .box-pics li.screen1 b:nth-of-type(2) {
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 1s;
  -moz-transition-property: -moz-transform;
  -moz-transition-duration: 0s;
  -webkit-animation: yminleft 15s linear infinite;
  -moz-animation: yminleft 15s linear infinite;
  -o-animation: yminleft 15s linear infinite;
  animation: yminleft 20s linear infinite;
}
.box.active .box-pics li .wenzi em:nth-of-type(1) {
  transform: scale(10);
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 1s;
  -moz-transition-property: -moz-transform;
  -moz-transition-duration: 1s;
  -webkit-animation: z1 1s linear forwards;
  -moz-animation: z1 1s linear forwards;
  -o-animation: z1 1s linear forwards;
  animation: z1 1s linear forwards;
}
.box.active .box-pics li .wenzi em:nth-of-type(2) {
  transform: scale(10);
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 1s;
  -moz-transition-property: -moz-transform;
  -moz-transition-duration: 1s;
  -webkit-animation: z2 1s linear forwards;
  -moz-animation: z2 1s linear forwards;
  -o-animation: z2 1s linear forwards;
  animation: z2 1s linear .5s forwards;
}
.box.active .box-pics li .wenzi em:nth-of-type(3) {
  transform: scale(10);
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 1s;
  -moz-transition-property: -moz-transform;
  -moz-transition-duration: 1s;
  -webkit-animation: z3 1s linear forwards;
  -moz-animation: z3 1s linear forwards;
  -o-animation: z3 1s linear forwards;
  animation: z3 1s linear 1s forwards;
}
.box.active .box-pics li .wenzi em:nth-of-type(4) {
  transform: scale(10);
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 1s;
  -moz-transition-property: -moz-transform;
  -moz-transition-duration: 1s;
  -webkit-animation: z4 1s linear forwards;
  -moz-animation: z4 1s linear forwards;
  -o-animation: z4 1s linear forwards;
  animation: z4 1s linear 1.5s forwards;
}
.box.active .box-pics li .wenzi em:nth-of-type(5) {
  transform: scale(10);
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 1s;
  -moz-transition-property: -moz-transform;
  -moz-transition-duration: 1s;
  -webkit-animation: z5 1s linear forwards;
  -moz-animation: z5 1s linear forwards;
  -o-animation: z5 1s linear forwards;
  animation: z5 1s linear 2s forwards;
}
.box.active .box-pics li .suipian em:nth-of-type(1) {
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 1s;
  -moz-transition-property: -moz-transform;
  -moz-transition-duration: 0s;
  -webkit-animation-name: s1, s1-1;
  -webkit-animation-duration: 1s, 7s;
  -webkit-animation-timing-function: ease, ease;
  -webkit-animation-delay: 2s, 3s;
  -webkit-animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards, none;
}
.box.active .box-pics li .suipian em:nth-of-type(2) {
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 1s;
  -moz-transition-property: -moz-transform;
  -moz-transition-duration: 0s;
  -webkit-animation-name: s2, s2-2;
  -webkit-animation-duration: 1s, 5s;
  -webkit-animation-timing-function: ease, ease;
  -webkit-animation-delay: 1.5s, 2.5s;
  -webkit-animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards, none;
}
.box.active .box-pics li .suipian em:nth-of-type(3) {
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 1s;
  -moz-transition-property: -moz-transform;
  -moz-transition-duration: 0s;
  -webkit-animation-name: s3, s3-3;
  -webkit-animation-duration: 1s, 6s;
  -webkit-animation-timing-function: ease, ease;
  -webkit-animation-delay: 1s, 2s;
  -webkit-animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards, none;
}
.box .box-pics {
  width: 100%;
}
.box .box-pics li {
  width: 100%;
  position: relative;
}
.box .box-pics li i {
  display: block;
  width: 100%;
}
.box .box-pics li i img {
  display: block;
  width: 100%;
}
.box .box-pics li.screen1 b {
  display: block;
  position: absolute;
}
.box .box-pics li.screen1 b:nth-of-type(1) {
  top: 0.2rem;
  left: -2.66666667rem;
  width: 1.6rem;
}
.box .box-pics li.screen1 b:nth-of-type(2) {
  top: 0.6rem;
  left: -2.66666667rem;
  width: 1.06666667rem;
}
.box .box-pics li.screen1 b img {
  display: block;
  width: 100%;
}
.box .box-pics li .wenzi {
  zoom: 1;
  width: 6.66666667rem;
  height: 1.33333333rem;
  position: absolute;
  top: 1.33333333rem;
  left: 0;
  right: 0;
  margin: auto;
  box-sizing: border-box;
}
.box .box-pics li .wenzi:after {
  display: block;
  clear: both;
  content: '';
}
.box .box-pics li .wenzi em {
  display: block;
  float: left;
  width: 1.06666667rem;
  height: 100%;
  position: relative;
  margin-right: 0.26666667rem;
  opacity: 0;
}
.box .box-pics li .wenzi em img {
  display: block;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.box .box-pics li .wenzi em:nth-of-type(1) {
  transform: scale(10);
}
.box .box-pics li .wenzi em:nth-of-type(2) {
  transform: scale(10);
}
.box .box-pics li .wenzi em:nth-of-type(3) {
  transform: scale(10);
}
.box .box-pics li .wenzi em:nth-of-type(4) {
  transform: scale(10);
}
.box .box-pics li .wenzi em:nth-of-type(5) {
  transform: scale(10);
}
.box .box-pics li .suipian {
  width: 100%;
  height: 4rem;
  position: absolute;
  left: 0;
  top: -4rem;
}
.box .box-pics li .suipian > div {
  width: 100%;
  height: 100%;
  position: relative;
}
.box .box-pics li .suipian em {
  display: block;
  position: absolute;
}
.box .box-pics li .suipian em img {
  display: block;
  width: 100%;
}
.box .box-pics li .suipian em:nth-of-type(1) {
  opacity: 0;
  top: -1.33333333rem;
  right: -1.06666667rem;
  width: 2.66666667rem;
}
.box .box-pics li .suipian em:nth-of-type(2) {
  opacity: 0;
  bottom: -4rem;
  left: -2.4rem;
  width: 4rem;
}
.box .box-pics li .suipian em:nth-of-type(3) {
  opacity: 0;
  bottom: -1.33333333rem;
  right: -2.4rem;
  width: 5.33333333rem;
}
.box .box-pics li .suipian2 {
  opacity: 0;
  display: block;
  width: 1.33333333rem;
  position: absolute;
  top: 6rem;
  right: 0.26666667rem;
}
.box .box-pics li .suipian2 img {
  display: block;
  width: 100%;
}
.box .box-pics li .suipian3 {
  opacity: 0;
  display: block;
  width: 2.4rem;
  position: absolute;
  top: 0.93333333rem;
  right: 2.66666667rem;
}
.box .box-pics li .suipian3 img {
  display: block;
  width: 100%;
}
.box .box-pics li .suipian4 {
  opacity: 0;
  display: block;
  width: 1.06666667rem;
  position: absolute;
  bottom: 2.24rem;
  right: 1.33333333rem;
}
.box .box-pics li .suipian4 img {
  display: block;
  width: 100%;
}
.box .box-pics li .suipian5 {
  opacity: 0;
  display: block;
  width: 2.4rem;
  position: absolute;
  top: 3.06666667rem;
  right: -1.06666667rem;
}
.box .box-pics li .suipian5 img {
  display: block;
  width: 100%;
}
.box .box-pics li .suipian6 {
  opacity: 0;
  display: block;
  width: 0.8rem;
  position: absolute;
  top: 0rem;
  right: 5.06666667rem;
}
.box .box-pics li .suipian6 img {
  display: block;
  width: 100%;
}
.box .box-pics li .suipian7 {
  opacity: 0;
  display: block;
  width: 2rem;
  position: absolute;
  bottom: 4.66666667rem;
  left: -0.8rem;
}
.box .box-pics li .suipian7 img {
  display: block;
  width: 100%;
}
.box .box-pics li .suipian8 {
  opacity: 0;
  display: block;
  width: 2rem;
  position: absolute;
  bottom: 5.6rem;
  left: -1.06666667rem;
}
.box .box-pics li .suipian8 img {
  display: block;
  width: 100%;
}
.box .box-pics li .suipian9 {
  opacity: 0;
  display: block;
  width: 1.6rem;
  position: absolute;
  top: 0.13333333rem;
  left: 0.4rem;
}
.box .box-pics li .suipian9 img {
  display: block;
  width: 100%;
}
.box .box-pics li .suipian10 {
  opacity: 0;
  display: block;
  width: 2rem;
  position: absolute;
  top: 1.06666667rem;
  right: -0.4rem;
}
.box .box-pics li .suipian10 img {
  display: block;
  width: 100%;
}
.box .box-pics li .suipian11 {
  opacity: 0;
  display: block;
  width: 2rem;
  position: absolute;
  bottom: 3.73333333rem;
  right: 0.26666667rem;
}
.box .box-pics li .suipian11 img {
  display: block;
  width: 100%;
}
.box .box-pics li .suipian12 {
  opacity: 0;
  display: block;
  width: 4rem;
  position: absolute;
  top: 0.13333333rem;
  right: -1.33333333rem;
}
.box .box-pics li .suipian12 img {
  display: block;
  width: 100%;
}
.box .box-pics li .suipian13 {
  opacity: 0;
  display: block;
  width: 2.53333333rem;
  position: absolute;
  top: 2.46666667rem;
  left: -1.33333333rem;
}
.box .box-pics li .suipian13 img {
  display: block;
  width: 100%;
}
.box .box-pics li .suipian14 {
  opacity: 0;
  display: block;
  width: 2rem;
  position: absolute;
  bottom: 1.33333333rem;
  left: -1.06666667rem;
}
.box .box-pics li .suipian14 img {
  display: block;
  width: 100%;
}
.box .box-pics li .suipian15 {
  opacity: 0;
  display: block;
  width: 1.86666667rem;
  position: absolute;
  bottom: 0.26666667rem;
  left: -0.66666667rem;
}
.box .box-pics li .suipian15 img {
  display: block;
  width: 100%;
}
.box .box-pics li .video-play-btn {
  display: block;
  width: 1.33333333rem;
  position: absolute;
}
.box .box-pics li .video-play-btn img {
  display: block;
  width: 100%;
}
.box .box-pics li:nth-of-type(2) .video-box {
  bottom: 0.10666667rem;
  left: 1.37333333rem;
}
.box .box-pics li:nth-of-type(2) .video-play-btn {
  bottom: 1.53333333rem;
  left: 4.4rem;
}
.box .box-pics li:nth-of-type(3).started .suipian2 {
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -webkit-animation-name: s4, s4-4;
  -webkit-animation-duration: 2s, 4s;
  -webkit-animation-timing-function: ease, ease;
  -webkit-animation-delay: 0s, 1s;
  -webkit-animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards, none;
}
.box .box-pics li:nth-of-type(4).started .suipian7 {
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -webkit-animation-name: s9, s9-9;
  -webkit-animation-duration: 2s, 5s;
  -webkit-animation-timing-function: ease, ease;
  -webkit-animation-delay: 0s, 1s;
  -webkit-animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards, none;
}
.box .box-pics li:nth-of-type(5).started .suipian3 {
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -webkit-animation-name: s5, s5-5;
  -webkit-animation-duration: 2s, 3s;
  -webkit-animation-timing-function: ease, ease;
  -webkit-animation-delay: 0s, 1s;
  -webkit-animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards, none;
}
.box .box-pics li:nth-of-type(9) .video-box {
  bottom: 0.10666667rem;
  left: 1.37333333rem;
}
.box .box-pics li:nth-of-type(9) .video-play-btn {
  bottom: 1.6rem;
  left: 4.26666667rem;
}
.box .box-pics li:nth-of-type(9).started .suipian8 {
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -webkit-animation-name: s10, s10-10;
  -webkit-animation-duration: 2s, 4s;
  -webkit-animation-timing-function: ease, ease;
  -webkit-animation-delay: 0s, 1s;
  -webkit-animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards, none;
}
.box .box-pics li:nth-of-type(10).started .suipian5 {
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -webkit-animation-name: s7, s7-7;
  -webkit-animation-duration: 2s, 4s;
  -webkit-animation-timing-function: ease, ease;
  -webkit-animation-delay: 0s, 1s;
  -webkit-animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards, none;
}
.box .box-pics li:nth-of-type(13) .video-box {
  top: 3.86666667rem;
  left: 1.37333333rem;
}
.box .box-pics li:nth-of-type(13) .video-play-btn {
  top: 5.33333333rem;
  left: 4.26666667rem;
}
.box .box-pics li:nth-of-type(13).started .suipian9 {
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -webkit-animation-name: s11, s11-11;
  -webkit-animation-duration: 2s, 4s;
  -webkit-animation-timing-function: ease, ease;
  -webkit-animation-delay: 0s, 1s;
  -webkit-animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards, none;
}
.box .box-pics li:nth-of-type(15).started .suipian13 {
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -webkit-animation-name: s15, s15-15;
  -webkit-animation-duration: 2s, 4s;
  -webkit-animation-timing-function: ease, ease;
  -webkit-animation-delay: 0s, 1s;
  -webkit-animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards, none;
}
.box .box-pics li:nth-of-type(18).started .suipian6 {
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -webkit-animation-name: s8, s8-8;
  -webkit-animation-duration: 2s, 4s;
  -webkit-animation-timing-function: ease, ease;
  -webkit-animation-delay: 0s, 1s;
  -webkit-animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards, none;
}
.box .box-pics li:nth-of-type(20).started .suipian10 {
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -webkit-animation-name: s12, s12-12;
  -webkit-animation-duration: 2s, 4s;
  -webkit-animation-timing-function: ease, ease;
  -webkit-animation-delay: 0s, 1s;
  -webkit-animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards, none;
}
.box .box-pics li:nth-of-type(21).started .suipian11 {
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -webkit-animation-name: s13, s13-13;
  -webkit-animation-duration: 2s, 4s;
  -webkit-animation-timing-function: ease, ease;
  -webkit-animation-delay: 0s, 1s;
  -webkit-animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards, none;
}
.box .box-pics li:nth-of-type(23) .video-box {
  width: 7.53333333rem;
  height: 4.26666667rem;
  top: 3.66666667rem;
  left: 1.2rem;
}
.box .box-pics li:nth-of-type(23) .video-play-btn {
  top: 5.33333333rem;
  left: 4.26666667rem;
}
.box .box-pics li:nth-of-type(23).started .suipian12 {
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -webkit-animation-name: s14, s14-14;
  -webkit-animation-duration: 2s, 4s;
  -webkit-animation-timing-function: ease, ease;
  -webkit-animation-delay: 0s, 1s;
  -webkit-animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards, none;
}
.box .box-pics li:nth-of-type(25).started .suipian14 {
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -webkit-animation-name: s16, s16-16;
  -webkit-animation-duration: 2s, 4s;
  -webkit-animation-timing-function: ease, ease;
  -webkit-animation-delay: 0s, 1s;
  -webkit-animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards, none;
}
.box .box-pics li:nth-of-type(26).started .suipian15 {
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -webkit-animation-name: s17, s17-17;
  -webkit-animation-duration: 2s, 4s;
  -webkit-animation-timing-function: ease, ease;
  -webkit-animation-delay: 0s, 1s;
  -webkit-animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards, none;
}
.box .box-pics li:nth-of-type(27).started .suipian4 {
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -webkit-animation-name: s6, s6-6;
  -webkit-animation-duration: 2s, 3s;
  -webkit-animation-timing-function: ease, ease;
  -webkit-animation-delay: 0s, 1s;
  -webkit-animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards, none;
}
